@font-face {
    font-family: 'TenacityRegular';
    src: url('tenacity-webfont.woff') format('woff'),
         url('tenacity-webfont.ttf') format('truetype'),
         url('tenacity-webfont.svg#TenacityRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'TenacityBold';
    src: url('tenab___-webfont.woff') format('woff'),
         url('tenab___-webfont.ttf') format('truetype'),
         url('tenab___-webfont.svg#TenacityBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body  {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: 'TenacityRegular', 'Myriad Pro', Helvetica, sans-serif;
  font-size: 15px;
}

h1 {
  font-size: 15px;
}

ul {
  width: 100%;
  clear: both;
  margin: 0;
  padding: 0;
}

ul li.shuttleInfo {
  list-style: none;
  padding: 5px;
}

select {
  clear: left;
}

#map_canvas {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Links */
a, a:visited, a:focus, a:hover, a:active {
  color: #1C6BA1;
}

/* Header and Nav */
header, nav {
  background: #000 url(../img/texture.png);
  position: absolute;
  width: 100%;
  z-index: 1;
  opacity: 0.9;
}

/* Header */
header {
  text-align: center;
  top: 0;
  z-index: 1;
  -webkit-box-shadow: 1px 1px 5px #000;
  box-shadow: 1px 1px 5px #000;
}

/* Navigation */
nav {
  position: absolute;
  bottom: 0;
  -webkit-box-shadow: -1px -1px 5px #000;
  box-shadow: -1px -1px 5px #000;
}

header li {
  display: inline;
}

nav li {
  border-right: 2px solid #515151;
  border-left: 2px solid #000;
  padding: 0;
  float: left;
}

nav a {
  display: block;
  padding: 13px 10px 7px 10px;
  height: 100%;
}

nav img {
  width: 22px;
  height: 24px;
}

#infoContainer {
  border: 2px solid #515151;
  margin: 0 auto;
  padding: 2px;
  
  -webkit-box-shadow: inset 0 0 5px #000;
  box-shadow: inset 0 0 5px #000;

  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

#info {
  background-color: #fff;
  padding: 3px;
  
  -webkit-box-shadow: inset 1px 1px 5px #000;
  box-shadow: inset 1px 1px 5px #000;

  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

.shuttleInfo {
  display: none;
}

.shuttleInfo .value {
  font-weight: bold;
}

.refreshBtn {
  float: right;
}
